<h1>Members by Nation</h1>


<% @members.each do |member| %>
    <h2>Name: <%= member.name %></h2>
    <h2>Allies:</h2>
    <% if member.allies == [] %>
        <%= "None" %>
    <% else %>
    <% member.allies.each do |ally| %>
        <p><%= ally %></p>
        <% end %>
    <% end %>
    <h2>Enemies:</h2>
    <% if member.enemies == [] %>
        <%= "None" %>
    <% else %>
    <% member.enemies.each do |enemy| %>
        <p><%= enemy %></p>
        <% end %>
    <% end %>
    <h2>Affiliation: </h2>
    <p> <%= member.affiliation %></p>
<% end %>
